*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* Cores */
    --cor_principal: #172339;
    --Grey: #49566d;
    --Cream: #f3ede7;
    --Cream-White: #faf8f6;
    --Custom-Purple: #a060ff;
    --Custom-Pink: #cb30e3;
    --Custom-Gold: #ffa84e;

    /* Fontes */
    --fonte_primaria: "Epilogue", sans-serif;

}
body{
    font-family: var(--fonte_primaria);
    color: var(--Cream);
        
}
main{
    color: black;
}
header{
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    padding: 4px 0;
    justify-content: space-between;
    margin: 24px 0 56px;
    padding: 4px 16px;
}
header img{
    flex: 0 0 auto;
    width: 55px;
}
.curved_line{
    position: absolute;
    right: 53px;
    top: 112px;
    width: 151px;
}
header button{
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    border: 1px solid;
    border-radius: 6px;
    background-color: #faf8f6;
    color: black;
}
header button:hover{
    background-color: #172339;
    color: #faf8f6;
    cursor: pointer;
}
.mini_content{
    max-width: 343px;
}
.content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.content_hero p{
    color: var(--Grey);
    line-height: 28px;
    padding: 2rem 0rem;
}
span{
    font-weight: bold;
}
title{
    text-align: center;
}
.title h1{
    font-size: 2.375rem;
    color: var(--Dark-Blue);
    font-weight: 500;
}
.padding1{
    margin: 0px 16px 56px;
}

.banner{
    padding: 55px 0;
}

.caixa_3{
    width: 100%;
    border: 1px solid black;
}
.item{
    
    text-align: center;
    border: 1px solid black;
    flex-shrink: 1;
    flex-grow: 1;
}

.margin_item{
    margin: 32px 0;
}

.card-box{
    position: relative;
    width: 100%;
    margin-top: 240px;
    background-color: #172339;
    border-radius: 20px 20px 0 0;
    z-index: -1;

}
.blur img {
    display: block;
}
.blur{
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%);
   
}
.jeremy-1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.jeremy-1 img{
    position: relative;
    top: -112px;
    display: block;
    z-index: 1;
}
.curva-box{
    width: 49.9px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -180%);
}

